<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Library</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css"
          th:href="@{/font-awesome/css/font-awesome.min.css}"/>
    <style>
        body {
            margin: 0;
            background-color: #fff;
        }
    </style>
</head>
<body>
<div class="bu1 ttt"></div>
<div class="bu2">
    <div class="vv ttt">
        <img class="aa" src="/static/images/000.jpg" th:src="@{/images/000.jpg}">
    </div>
    <div class="sk clearFix">
        <input class="ss" placeholder="Search by title or author" autocomplete="off" name="sousuo" type="text"
               id="inner">
        <div class="annui" id="myClick">
            <i class="fa fa-search" aria-hidden="true" id="search_id"></i>
        </div>
    </div>
    <div class="cc clearFix">
        <div th:if="${session.user==null}">
            <a class="m" th:href="@{/login}">Sign in</a>
        </div>
        <div th:unless="${session.user==null}">
            <a th:href="@{/userInfo}" class="mym" th:text="${session.user.getUsername()}">username</a>
            <a class="dd" th:href="@{/(type='exit')}">Exit</a>
        </div>
    </div>
</div>
<div class="tiantou">
    <div class="biankuang clearFix">
        <div class="tongyong daohangyanse"><a style="color: white" th:href="@{/}">index</a></div>
    </div>
</div>
<div class="yincang" onmouseover="document.getElementById('oDiv').style.display='block'"
     onmouseout="document.getElementById('oDiv').style.display='none'" style="display:none" id="oDiv"></div>
<!--/*@thymesVar id="bookDetailses" type="java.util.ArrayList<info.ykqfrost.beans.BookDetails>"*/-->
<div th:if="${#lists.isEmpty(bookDetailses)}" style="text-align: center">
    there is no book under this condition !
</div>
<div th:unless="${#lists.isEmpty(bookDetailses)}">
    <div class="paiban">
        <div class="clearFix">
            <!--/*@thymesVar id="bookDetails" type="info.ykqfrost.beans.BookDetails"*/-->
            <div class="qq" th:onclick="'javasript:my('+${bookDetails.getTypeId()}+')'"
                 th:each="bookDetails : ${bookDetailses}">
                <div class="animated_div"
                     th:style="'background:url('+ ${bookDetails.getCoverImageUrl()} +');background-size:cover;'"></div>
                <div class="w" th:text="${bookDetails.getBookName()}">bookName</div>
                <div class="e" th:text="${bookDetails.getAuthor()}">author</div>
            </div>
        </div>
    </div>
</div>

<!--<script type="text/javascript" src="../../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>-->
<!--<script type="text/javascript" src="../../static/js/script.js" th:src="@{/js/script.js}"></script>-->
<script type="text/javascript" src="../../static/js/my.js" th:src="@{/js/my.js}"></script>
<!--<script>-->
<!--window.onload = function () {-->
<!--document.getElementById("myClick").onclick = function () {-->
<!--var value = document.getElementById("inner").value;-->
<!--window.location.href = "/?search=" + value;-->
<!--};-->
<!--}-->
<!--</script>-->
</body>
</html>
