<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
  <head>   
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <title>Sign in</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/login.css" th:href="@{/css/login.css}">
    <script type="text/javascript" src="../../static/js/login.js" th:href="@{/js/login.js}"></script>
  </head>
  
  <body id="backbody">
  <div id="back_total">
      <div id="header">
          <div id="mylogo_left"><img src="../../static/images/logo.png" th:src="@{/images/logo.png}" width="80px" height="80px"></div>
          <div id="mylogo_right">Welcome</div>
          <div id="login"><a th:href="@{/register}">Sign up</a></div>
      </div>
      <div id="fromstyle">
          <!--/*@thymesVar id="loginForm" type="info.ykqfrost.beans.LoginForm"*/-->
          <form th:action="@{/login/commit}" method="post" onsubmit="return checkAll()" th:object="${loginForm}">
              <div class="my_list"><span class="my_word"></span>
                  <input type="radio" name="authority" value="reader" class="my_input2" checked>reader
                  <input type="radio" name="authority" value="admin" class="my_input2">admin
              </div>
              <div class="my_list"><span class="my_word">username</span>
                <input class="my_input1" type="text" name="username" id="username" onblur="checkname()" onfocus="demandname()">
                <span class="my_tip" id="nameTip"></span>
              </div>
              <div class="my_list"><span class="my_word">password</span>
                <input class="my_input1" type="password" name="password"  id="password" onblur="checkpassword()" onfocus="demandpass()" />
                <span class="my_tip" id="passTip"></span>
              </div>
              <div class="my_list"><input id="my_button" type="submit" value="Sign in now"></div>

              <div th:if="${session.user == 'false'}">
                  <p class="my_list" style="margin: -80px 135px">failed,please retry</p>
              </div>
         </form>
      </div>
  </div>
  </body>
</html>