<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>   
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <title>Sign up</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/adduser.css" th:href="@{/css/adduser.css}">
    <script type="text/javascript" src="../../static/js/adduser.js" th:src="@{/js/adduser.js}"></script>
  </head>
  
  <body id="backbody">
  <div id="back_total">
      <div id="header">
          <div id="mylogo_left"><img src="../../static/images/logo.png" th:src="@{/images/logo.png}" width="80px" height="80px"></div>
          <div id="mylogo_right">Sign up</div>
          <div id="login"><a th:href="@{/login}">Sign in</a></div>
      </div>
      <div id="fromstyle">
          <!--/*@thymesVar id="reader" type="info.ykqfrost.beans.Reader"*/-->
          <form th:action="@{/register/commit}" th:object="${reader}" method="post" onsubmit="return checkAll()">
              <div class="my_list"><span class="my_word">Username</span>
                <input class="my_input1" type="text" name="username" id="username" onblur="checkname()" onfocus="demandname()">
                <span class="my_tip" id="nameTip"></span>
              </div>
              <div class="my_list"><span class="my_word">Password</span>
                <input class="my_input1" type="password" name="password" id="password" onblur="checkpassword()" onfocus="demandpass()">
                <span class="my_tip" id="passTip"></span>
              </div>
              <div class="my_list"><span class="my_word">Age</span>
                <input class="my_input1" type="text" name="age" id="age" onblur="checkage()" onfocus="demandage()">
                <span class="my_tip" id="ageTip"></span>
              </div>
                <div class="my_list"><span class="my_word">Gender</span>
                    <input class="my_input2" type="radio" name="gender" value="male">male
                    <input class="my_input2" type="radio" name="gender" value="female">female
                </div>
                <div class="my_list"><span class="my_word">Phone</span>
                    <input class="my_input1" type="text" name="phone" id="phone" onblur="checkphone()" onfocus="demandphone()">
                    <span class="my_tip" id="phoneTip"></span>
                </div>
                <div class="my_list"><span class="my_word">email</span>
                    <input class="my_input1" type="text" name="email" id="email" onblur="checkemail()" onfocus="demandemail()">
                    <span class="my_tip" id="emailTip"></span>
                </div>
                <div class="my_list"><input id="my_button" type="submit" value="Sign up now"></div>
              <div th:if="${session.isRegistered == 'false'}" style="margin-left: 200px;">
                  <p class="my_list">failed</p>
              </div>
         </form>
      </div>
  </div>
  </body>
</html>