<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Like Book</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" href="/static/css/manageBook.css" th:href="@{/css/manageBook.css}"/>
    <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css"
          th:href="@{/font-awesome/css/font-awesome.min.css}"/>
</head>
<body>
<!-- <script type="text/javascript" src="./js/jquery.js"></script>
<script type="text/javascript" src="./js/script.js"></script>
<script type="text/javascript" src="./js/my.js"></script> -->
<div class="bu1 ttt"></div>
<div class="bu2">
    <div class="vv ttt">
        <img class="aa" src="/static/images/000.jpg" th:src="@{/images/000.jpg}">
    </div>

    <div class="sk clearFix">
        <input class="ss" placeholder="Search the title or author" autocomplete="off" name="sousuo" type="text"
               id="inner">
        <div class="annui" id="manageClick">
            <i class="fa fa-search" aria-hidden="true" id="search_id"></i>
        </div>
    </div>
    <div class="cc clearFix">
        <a href="/templates/readerTemplates/login.html" th:href="@{/login}"><div class="myyanse" id="fifth">exit</div></a>
    </div>
</div>
<div class="tiantou">
    <div class="biankuang clearFix">
        <a href="manageBook.html" th:href="@{/manage}">
            <div class="tongyong daohangyanse" id="first">allBooks</div>
        </a>
        <a href="addBooks.html" th:href="@{/manage/addBook}">
            <div class="tongyong daohangyanse" id="second">addBooks</div>
        </a>
        <a href="borrowBooks.html" th:href="@{/manage/borrow}">
            <div class="tongyong daohangyanse" id="third">borrowBooks</div>
        </a>
        <a href="returnBooks.html" th:href="@{/manage/return}">
            <div class="tongyong daohangyanse" id="forth">returnBooks</div>
        </a>
        <a href="deleteBooks.html" th:href="@{/manage/delete}">
            <div class="tongyong daohangyanse" id="forth">deleteBooks</div>
        </a>
        <a href="userManager.html" th:href="@{/manage/user}">
            <div class="tongyong daohangyanse" id="fifth">userManage</div>
        </a>
    </div>
</div>
<div class="yincang" onmouseover="document.getElementById('oDiv').style.display='block'"
     onmouseout="document.getElementById('oDiv').style.display='none'" style="display:none" id="oDiv"></div>

<div id="bookDetails" class="clearFix">
    <div id="name">Books</div>
    <div id="itfl">
        <!--/*@thymesVar id="bookDetailses" type="java.util.ArrayList<info.ykqfrost.beans.BookDetails>"*/-->
        <div id="info" th:if="${#lists.isEmpty(bookDetailses)}" style="text-align: center">
            there is no book under this condition !
        </div>
        <div id="info" th:unless="${#lists.isEmpty(bookDetailses)}">
            <table class="table" border="1" cellspacing="0">
                <tr>
                    <td width="5%">Type ID</td>
                    <td width="15%">Name</td>
                    <td width="10%">Author</td>
                    <td width="12%">Publisher</td>
                    <td width="8%">Price</td>
                    <td width="10%">Total Amount</td>
                    <td width="10%">Remaining</td>
                    <td width="10%">Location</td>
                    <td width="10%">Operations</td>
                </tr>

                <!--/*@thymesVar id="bookDetails" type="info.ykqfrost.beans.BookDetails"*/-->
                <tr th:each="bookDetails : ${bookDetailses}">
                    <td width="5%" th:text="${bookDetails.getTypeId()}">Type ID</td>
                    <td width="15%" th:text="${bookDetails.getBookName()}">Name</td>
                    <td width="10%" th:text="${bookDetails.getAuthor()}">Author</td>
                    <td width="12%" th:text="${bookDetails.getPublisher()}">Publisher</td>
                    <td width="8%" th:text="${bookDetails.getPrice()}">Price</td>
                    <td width="10%" th:text="${bookDetails.getTotalNum()}">Total Amount</td>
                    <td width="10%" th:text="${bookDetails.getRemainNum()}">Remaining</td>
                    <td width="10%" th:text="${bookDetails.getLocation()}">Location</td>
                    <td width="10%">
                        <a href="modifyBook.html" th:href="@{/manage/modify(typeId=${bookDetails.getTypeId()})}"><input
                                type="button" value="modify" class="change"></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script>
    document.getElementById("manageClick").onclick = function () {
        var value = document.getElementById("inner").value;
        if (value === "" || value === " ") {
            alert("can not be null!");
        } else {
            window.location.href = "/manage/?search=" + value;
        }
    };
</script>
</body>
</html>