<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Like Book</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" href="/static/css/manageBook.css" th:href="@{/css/manageBook.css}"/>
    <link rel="stylesheet" type="text/css" href="/static/css/addBook.css" th:href="@{/css/addBook.css}"/>
</head>
<body>
<div class="bu1 ttt"></div>
<div class="bu2">
    <div class="vv ttt">
        <img class="aa" src="/static/images/000.jpg" th:src="@{/images/000.jpg}">
    </div>

    <div class="sk clearFix">
        <input class="ss" placeholder="Search the title or author" autocomplete="off" name="sousuo" type="text"
               id="inner">
        <div class="annui" id="manageClick">
            <i class="fa fa-search" aria-hidden="true" id="search_id"></i>
        </div>
    </div>
    <div class="cc clearFix">
        <a href="/templates/readerTemplates/login.html" th:href="@{/login}">
            <div class="myyanse" id="fifth">exit</div>
        </a>
    </div>
</div>
<div class="tiantou">
    <div class="biankuang clearFix">
        <a th:href="@{/manage}">
            <div class="tongyong daohangyanse" id="fifth">back</div>
        </a>
    </div>
</div>
<div class="yincang" onmouseover="document.getElementById('oDiv').style.display='block'"
     onmouseout="document.getElementById('oDiv').style.display='none'" style="display:none" id="oDiv"></div>

<div id="bookDetails" class="clearFix">
    <div id="name">Modify</div>
    <div id="itfl">
        <div id="info">
            <!--/*@thymesVar id="bookDetails" type="info.ykqfrost.beans.BookDetails"*/-->
            <form th:action="@{/manage/modify/}" method="post" th:object="${bookDetails}">
                <div class="serachs2">
                    Type ID:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text"
                                                                                                     name="typeId"
                                                                                                     readonly
                                                                                                     class="inputs2"
                                                                                                     th:value="${bookDetails.getTypeId()}"><br>
                    Book Name：&nbsp;&nbsp;<input type="text" name="bookName" readonly class="inputs2"
                                                 th:value="${bookDetails.getBookName()}"><br>
                    Location：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="location"
                                                                              class="inputs2"
                                                                              th:value="${bookDetails.getLocation()}"><br>
                    Price:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                        type="text" name="price" class="inputs2"
                        th:value="${bookDetails.getPrice()}"><br/>
                    <div id="modifymsg" th:if="${session.modifyMessage != null}" th:text="${session.modifyMessage}">
                        message
                    </div>
                    <div class="return2"><input type="submit" value="Modify" class="finishReturn"></div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    document.getElementById("manageClick").onclick = function () {
        var value = document.getElementById("inner").value;
        if (value === "" || value === " ") {
            alert("can not be null!");
        } else {
            window.location.href = "/manage/?search=" + value;
        }
    };
</script>
</body>
</html>